/*
eXe
Copyright 2004-2006, University of Auckland
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
base style sheet for all themes
*/

body{margin:0;padding:0 10px 10px 10px;font-family:arial,verdana,helvetica,sans-serif;font-size:.8em}#header{text-align:left;height:50px;padding-left:20px;font-size:2.2em;font-weight:bold}a{text-decoration:none}a:hover,a:focus{text-decoration:underline}img.submit,img.help,img.info,img.gallery{border:0}li{list-style-position:inside}#nodeDecoration{padding:.1em;border-bottom:0;text-align:right}.block,.feedback{display:block;padding-top:.25em;padding-bottom:.25em}.feedback{font-family:times,serif;font-size:120%}.feedback-button p{margin:0}.emphasis0{padding-left:0;margin:0}.iDeviceTitle{font-weight:bold;position:relative;top:-18px}input.feedbackbutton{margin-top:10px;margin-bottom:10px}.popupDiv{background-color:#EDEFF0;border:2px solid #607489;padding:0 4px 4px 4px;margin-left:15px;text-align:left;z-index:99;border-radius:3px}.popupDivLabel{text-align:center;font:message-box;font-weight:bold;color:#fff;cursor:move;margin:0 -4px;background-image:url(popup_bg.gif)}@media print{.feedback{display:block!important}.feedback.iDevice_solution a{text-decoration:none;color:inherit}.iDevice_solution li span{display:none}div.node,article.node{page-break-after:always}.external-iframe{display:none}.external-iframe-src{display:block!important;margin:2em 0;font-size:.95em;text-align:center}#made-with-eXe{display:none}}.external-iframe{border:0}.iDevice a,#siteFooter a,#packageLicense a,.toggle-idevice a{text-decoration:underline}.iDevice a:hover,#siteFooter a:hover,#packageLicense a:hover,.toggle-idevice a:hover{text-decoration:none}.pre-code{background:#112C4A;color:#E7ECF1;font-family:Monaco,Courier,monospace;border-radius:9px;font-size:12px;margin:2em 1em;overflow:auto;padding:20px}.iDevice_content{position:relative;max-width:100%}.exe-epub3 .iDevice_content{position:static}.iDevice_header{background-position:0 50%;background-repeat:no-repeat}.iDevice_header.iDevice_header_noIcon{background-image:none;padding:5px 0}.TrueFalseIdevice label{white-space:nowrap;margin-right:1em;line-height:1.7em}.cloze-activity-form input[type='text']{max-width:calc(100% - .45em)}.exe-dl{margin-bottom:2em;margin-left:1.5em}.exe-dl dt{font-weight:bold}.exe-dl dd{margin:1em 1.5em}.js .exe-dl dt{margin:1.2em 0 0 0}.exe-dl dt a{text-decoration:underline}.exe-dl .icon{font-family:Arial,sans-serif;display:block;width:20px;height:20px;font-size:16px;margin-right:1em;line-height:20px;text-align:center;float:left;border-radius:2px;position:relative}@media all and (min-width:1px){.exe-dl dt a{align-items:center;display:flex;text-decoration:none}.exe-dl .icon{height:18px;line-height:18px;width:18px;padding:1px;font:18px monospace;font-weight:bold;display:flex;justify-content:center;align-items:center}}.exe-dl-toggler{height:20px;margin:1.5em}.exe-dl-toggler a{margin-left:0;font-weight:bold}.js .exe-dl dd{display:none;padding-left:0;margin:1em 1em 1em 37px}.exe-math{display:block;margin:2em 0}.exe-math,.MathJax_Display{text-align:left!important}.exe-math.position-center,.position-center .MathJax_Display,[style*="text-align: center"] .MathJax_Display{text-align:center!important}.exe-math.position-right,.position-right .MathJax_Display,[style*="text-align: right"] .MathJax_Display{text-align:right!important}.js .show-image .exe-math-code,.js .show-code .exe-math-img{display:none}.exe-math-links{font-size:.85em}.exe-math-inline{display:inline;margin:0 .1em!important}.exe-figure{margin:2em 0;max-width:100%}.position-center{margin:2em auto}.position-right{margin:2em 0 2em auto}.float-left{float:left;margin:.5em 1.5em 1em 0}.float-right{float:right;margin:.5em 0 1em 2em}.figcaption{padding-top:.2em}.figcaption.header{padding-top:0;padding-bottom:.2em}.exe-layout-2-cols,.exe-layout-3-cols{width:100%}.exe-layout-2-cols .exe-col{float:left;width:49%}.exe-layout-2-cols .exe-col-1{padding-right:1%}.exe-layout-2-cols .exe-col-2{padding-left:1%}.exe-layout-2-30-70 .exe-col{width:69%}.exe-layout-2-30-70 .exe-col-1{width:29%}.exe-layout-2-70-30 .exe-col{width:29%}.exe-layout-2-70-30 .exe-col-1{width:69%}.exe-layout-3-cols .exe-col{float:left;width:32%}.exe-layout-3-cols .exe-col-1,.exe-layout-3-cols .exe-col-2{padding-right:2%}.exe-block-warning{background:#FCF8E3;color:#796034;border:1px solid #FAEBCC;padding:0 1em;border-radius:4px}p.exe-block-warning{padding:1em}.exe-block-alert{background:#ffc;color:#855000;border:1px solid #FFF099;padding:0 1em;border-radius:4px}p.exe-block-alert{padding:1em}.exe-block-danger{background:#FEF0EF;color:#973C3B;border:1px solid #F3DADD;padding:0 1em;border-radius:4px}p.exe-block-danger{padding:1em}.exe-block-info{background:#E1F1F9;color:#2B627D;border:1px solid #C9EDF4;padding:0 1em;border-radius:4px}p.exe-block-info{padding:1em}.exe-block-success{background:#E5F3E0;color:#336634;border:1px solid #DEEDD1;padding:0 1em;border-radius:4px}p.exe-block-success{padding:1em}.exe-block-warning a{color:#4F360A}.exe-block-alert a{color:#5B2600}.exe-block-danger a{color:#6D1211}.exe-block-info a{color:#063853}.exe-block-success a{color:#093C0A}div.exe-block-warning,div.exe-block-alert,div.exe-block-danger,div.exe-block-info,div.exe-block-success{margin:1em 0}.js a.exe-enlarge{position:relative;display:block}.exe-enlarge-icon{display:none;width:30px;height:30px;position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px;border-radius:15px;background:#333;z-index:10;box-shadow:0 0 7px 0 #DDD}.exe-enlarge-icon b{width:30px;height:30px;line-height:30px;text-align:center;display:block;font-size:1.3em;color:#FFF}.exe-enlarge-icon b:before{content:"+"}.js a.exe-enlarge:hover img,.js a.exe-enlarge:focus img{opacity:.7;filter:alpha(opacity=70)}a.exe-enlarge:hover .exe-enlarge-icon,a.exe-enlarge:focus .exe-enlarge-icon{display:block;*display:none}.exe-clear{overflow:auto}.toggle-idevice,.exe-hidden,.js-required,.js .js-hidden,.exe-mindmap-code{display:none}.js .js-required{display:block}#packageLicense{text-align:center}.js #main .iDevice_hint_title{font-size:1em;margin-top:0;font-weight:normal;*margin-top:1em}.iDevice_hint{margin-bottom:1.5em}.iDevice_hint_title a{background-repeat:no-repeat;background-position:0 50%;padding-left:23px;text-decoration:none}.iDevice_hint_content{padding:0 23px}.iDevice_answer{overflow:hidden;*margin:1.5em 0}.iDevice_answer{overflow:hidden}.iDevice_answer p{margin-top:0}.iDevice_answer-field{width:2.5em;float:left}.js .iDevice_answer-content,.js .iDevice_answer-feedback{padding-left:2.5em}.hidden-idevice .image_text{display:none}abbr[title],acronym[title]{text-decoration:none;border-bottom:1px dotted}.pagination.page-counter{text-align:center}.pagination.noprt .sep{display:none}.pagination.noprt .page-counter{margin-right:20px}#topPagination .page-counter{margin-left:20px;margin-right:0}#skipNav{margin:0;position:absolute;width:100%}.sr-av,.js .js-sr-av,#skipNav a,.exe-hidden-accessible,.js .exe-tooltip-text{position:absolute;overflow:hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);height:0}#skipNav a{background:#333;color:#fff;padding:.4em .85em}#skipNav a:active,#skipNav a:focus{position:static;overflow:visible;clip:auto;height:auto}.exe-table{margin:2em auto;max-width:100%;border:1px solid #CCC;border-collapse:collapse;border-spacing:0}.exe-table tr{background:#fff}.exe-table caption{padding:.5em 0;text-align:center;font-style:italic}.exe-table td,.exe-table th{border:1px solid #CCC;margin:0;padding:.5em 1em}.exe-table thead{background:#ddd;color:#000;text-align:left}.exe-table tr:nth-child(2n-1) td,.exe-table tbody tr:nth-child(2n-1) th{background:#F4F4F4}.exe-table tbody tr:nth-child(2n) th{background:#F4F4F4}.exe-table tbody tr:nth-child(2n-1) th{background:#E4E4E4}.exe-table thead+tbody tr:nth-child(2n) th{background:#fff}.exe-table thead+tbody tr:nth-child(2n-1) th{background:#F4F4F4}.exe-table-minimalist{margin:2em auto;border-collapse:collapse}.exe-table-minimalist tr{background:#fff}.exe-table-minimalist thead th{color:#000;padding:.6em 1.5em .6em .8em;border-bottom:2px solid #CCC;text-align:left}.exe-table-minimalist td,.exe-table-minimalist tbody th{border-bottom:1px solid #ccc;color:#555;padding:.5em 1.5em .5em .8em}.exe-table-minimalist tbody tr:hover td,.exe-table-minimalist tbody tr:hover th{color:#222}.exe-table-minimalist tr:nth-child(2n-1) td,.exe-table-minimalist tbody tr:nth-child(2n-1) th{background:#F9F9F9}.exe-table-minimalist caption{text-align:center;font-style:italic;border-bottom:2px solid #CCC;padding:.6em 0}.exe-table-responsive{display:block;overflow-x:auto;border:none}.exe-table-responsive,.exe-table-responsive th,.exe-table-responsive tr,.exe-table-responsive td{width:auto!important}body .qtip{font-size:.85em;line-height:1.5em}.qtip .exe-tooltip-text{position:relative;overflow:auto;clip:auto;height:auto}ol.auto-numbered{counter-reset:item}.auto-numbered ol{counter-reset:item}.auto-numbered li{display:block}.auto-numbered li:before{content:counters(item,".") ".- ";counter-increment:item}.exe-quote-cite cite{display:block;text-align:right;margin-top:-.5em}.exe-link-data{font-size:.8em;margin:0 .2em}.exe-link-data abbr{cursor:help}.styled-qc{font-family:Georgia,serif;font-style:italic;margin:1.5em 2.5em;padding:.25em 3.5em;position:relative}.styled-qc:before{display:block;content:"\201C";font-size:5em;position:absolute;left:0;top:-20px}.js .pbl-task-info{visibility:hidden}.pbl-task-info dt{float:left;font-weight:bold;margin-right:.5em}.pbl-task-info{overflow:hidden;margin:1em 0 1.5em 20px;width:auto;float:right;text-align:right}.pbl-task-info dt{margin:0;float:left;clear:left;width:150px}.pbl-task-info dd{margin:0 0 0 150px;text-align:left;padding-left:.5em}.pbl-task-info dd:after{content:'';display:block;clear:both}.pbl-task-description{clear:both}iframe,object,embed{max-width:100%}img,video{max-width:100%;height:auto}@media all and (max-width:992px){.exe-layout-3-cols .exe-col{float:none;width:100%;padding:0}.exe-layout-3-cols .exe-col .exe-figure{margin:2em auto}}@media all and (max-width:780px){.styled-qc{margin:1.5em .5em}.exe-layout-2-cols .exe-col{float:none;width:100%;padding:0}.exe-layout-2-cols .exe-col .exe-figure{margin:2em auto}}#exe-client-search-form{text-align:right;margin-bottom:2em}#exe-client-search-form p{margin:0}#exe-client-search-text{border:1px solid #ddd;padding:5px 10px;width:250px;max-width:60%}#exe-client-search-submit{border:1px solid #ddd;padding:5px 10px;background:#ddd;margin-left:-.4em;color:#333}.exe-client-search-results #nodeTitle,.exe-client-search-results .iDevice_wrapper,#exe-client-search-results,#exe-client-search-reset{display:none}.exe-client-search-results #exe-client-search-results{display:block}.exe-client-search-results #exe-client-search-reset{display:inline;line-height:2em}#exe-client-search-results p{margin-top:1.5em}#exe-client-search-results ul{margin:1.5em 1.5em 3em 1.5em;padding:0;list-style:none}#main #exe-client-search-results li{list-style-image:none;margin-bottom:1.5em}#exe-client-search-results a{font-size:1.15em}.exe-client-search-result{background:yellow}.exe-client-search-read-more{font-size:.7em;margin-left:.2em}#exe-client-search-reset{margin-left:.5em}@media all and (max-width:700px){#exe-client-search-form{text-align:center}}@media all and (max-width:600px){.exe-client-search-results #exe-client-search-reset{display:block;margin:1em 0 0 0}}#made-with-eXe{margin:0;position:fixed;bottom:0;right:0}#made-with-eXe a{text-decoration:none;box-shadow:rgba(0,0,0,0.35) 0 5px 15px;border-top-left-radius:4px;color:#222;font-size:11px;font-family:Arial,sans-serif;line-height:35px;width:35px;height:35px;background:#fff url(exe_powered_logo.png) no-repeat 0 50%;display:block;background-size:auto 23px;text-decoration:none;transition:.5s;opacity:.8}#made-with-eXe span{padding-left:35px;padding-right:5px}#made-with-eXe span span{position:absolute;overflow:hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);height:0}#made-with-eXe a:hover{width:auto;padding:0 5px;background-position:5px 50%;opacity:1}

/* =========================================
   About Somatization UI Optimization
   Theme: Healing & Trust (Sage Green)
   ========================================= */

/* 1. 全域字體與背景優化 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif !important;
    background-color: #f4f7f5 !important; /* 溫暖的淺灰綠背景 */
    color: #4a4a4a !important;
    line-height: 1.8 !important;
}

/* 2. 側邊導覽列 (Navigation) 現代化 */
#main-nav {
    background: #ffffff !important;
    border: none !important;
    box-shadow: 4px 0 20px rgba(0,0,0,0.03); /* 輕柔陰影取代邊框 */
    padding: 30px 15px !important;
    width: 20% !important; /* 稍微加寬讓閱讀更舒適 */
}

#main-nav ul li {
    margin-bottom: 8px;
}

#main-nav ul li a {
    color: #666 !important;
    border-bottom: none !important;
    padding: 12px 20px !important;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: 500;
}

/* 滑鼠懸停與選中狀態 */
#main-nav ul li a:hover,
#main-nav ul li.active a,
#main-nav ul li.highlighted a {
    background-color: #e8f3e9 !important; /* 極淺綠色高亮 */
    color: #3d7a68 !important; /* 鼠尾草綠文字 */
    transform: translateX(5px); /* 輕微位移增加互動感 */
}

/* 3. 內容區塊卡片化 (Card Style) */
#content {
    background: transparent !important;
    border: none !important;
    margin-left: 22% !important; /* 配合加寬的導覽列 */
    padding: 40px !important;
}

/* 每一個教學單元變成一張卡片 */
.iDevice_wrapper {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.04);
    margin-bottom: 40px !important;
    border: none !important;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.iDevice_wrapper:hover {
    transform: translateY(-3px); /* 懸停時輕微浮起 */
}

/* 標題美化 */
.iDevice_header {
    background: linear-gradient(to right, #ffffff, #f9fbf9) !important;
    padding: 25px 40px 10px 40px !important;
    border-bottom: 1px solid #f0f0f0;
}

.iDeviceTitle {
    font-size: 1.6rem !important;
    color: #2c5e50 !important; /* 深綠色主標題 */
    font-weight: 700;
    letter-spacing: 0.5px;
}

.iDevice_inner {
    padding: 20px 40px 50px 40px !important;
}

/* 4. 按鈕與連結優化 */
a {
    color: #dfa67b; /* 溫暖的陶土色連結 */
    text-decoration: none;
}

a:hover {
    color: #c98e65;
    text-decoration: underline;
}

/* 下一頁/上一頁按鈕 */
.pagination {
    margin-top: 50px;
    text-align: center;
}

.pagination a {
    background-color: #3d7a68;
    color: white !important;
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none !important;
    box-shadow: 0 5px 15px rgba(61, 122, 104, 0.3);
    transition: all 0.3s ease;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
}

.pagination a:hover {
    background-color: #2e5c4e;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(61, 122, 104, 0.4);
}

/* 5. 手機版響應式調整 (RWD) */
@media (max-width: 768px) {
    #main-nav {
        width: 100% !important;
        position: relative;
        box-shadow: none;
        padding: 10px !important;
        background: #3d7a68 !important; /* 手機版導覽列改深色 */
    }
    
    #main-nav ul li a {
        color: rgba(255,255,255,0.9) !important;
    }

    #main-nav ul li.active a {
        background: rgba(255,255,255,0.2) !important;
        color: white !important;
    }

    #content {
        margin-left: 0 !important;
        padding: 20px !important;
    }

    .iDevice_inner {
        padding: 20px !important;
    }
}

/* =========================================
   Responsive Drawer Menu (Using #header-options)
   ========================================= */

/* 1. 將導覽列藏到左邊螢幕外 */
#main-nav {
    position: fixed !important;
    top: 0;
    left: -280px; /* 預設隱藏 */
    width: 280px !important;
    height: 100vh !important;
    background: #ffffff !important;
    z-index: 10000;
    box-shadow: 2px 0 15px rgba(0,0,0,0.1);
    transition: left 0.3s ease; /* 平滑滑動效果 */
    padding-top: 80px !important; /* 上方留白，避免蓋住按鈕 */
    overflow-y: auto;
}

/* 打開選單時的狀態 */
#main-nav.open {
    left: 0 !important;
}

/* 2. 設定您原本的按鈕 (header-options) */
#header-options {
    position: fixed !important; /* 強制固定在視窗 */
    top: 15px !important;
    left: 15px !important;
    z-index: 10001 !important; /* 確保層級比選單高 (浮在選單上面) */
    
    /* 美化按鈕外觀 (可選) */
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #2c5e50; /* 深綠色背景 */
    color: white !important;
    border-radius: 50%; /* 圓形 */
    text-decoration: none !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

/* 修正按鈕內的文字或圖示顏色 */
#header-options a, 
#header-options span {
    color: white !important;
}

/* 3. 內容區域全螢幕化 */
#content {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 20px !important;
    padding-top: 80px !important; /* 避開上方的按鈕 */
    max-width: 1000px;
    margin: 0 auto !important;
}

/* 4. 遮罩層 (Overlay) */
#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#menu-overlay.show {
    opacity: 1;
    visibility: visible;
}
